<div class="videojuegos">
            <h2>Últimos videojuegos para PC</h2>
            <ul>
                <li>
                    <img src="images/Juegos/starfield.jpg" alt="Starfield">
                    <a href="https://bethesda.net/es/game/starfield">Starfield</a>
                    <p>Un videojuego de rol de acción de mundo abierto desarrollado por Bethesda Game Studios y
                        publicado por Bethesda Softworks. Fue lanzado para Microsoft Windows y Xbox Series X/S el 11 de
                        noviembre de 2022.</p>
                </li>
                <li>
                    <img src="images/Juegos/the-callisto-protocol-art-HD.jpg" alt="The Callisto Protocol">
                    <a href="https://callisto.sds.com/es-es/">The Callisto Protocol</a>
                    <p>Un videojuego de terror y supervivencia desarrollado por Striking Distance Studios y publicado
                        por Krafton. Fue lanzado para Microsoft Windows, PlayStation 4, PlayStation 5, Xbox One y Xbox
                        Series X/S el 2 de diciembre de 2022.</p>
                </li>
                <li>
                    <img src="images/Juegos/header.jpg" alt="Forspoken">
                    <a href="https://forspoken.square-enix-games.com/es/">Forspoken</a>
                    <p>Un videojuego de rol de acción desarrollado por Luminous Productions y publicado por Square Enix.
                        Fue lanzado para Microsoft Windows y PlayStation 5 el 24 de mayo de 2023.</p>
                </li>
            </ul>
            <h2>Venta de videojuegos para PC</h2>
            <div class="venta">
                <h3>Starfield</h3>
                <p>Precio: $69,99</p>
                <button>Comprar</button>
            </div>
            <div class="venta">
                <h3>The Callisto Protocol</h3>
                <p>Precio: $59,99</p>
                <button>Comprar</button>
            </div>
            <div class="venta">
                <h3>Forspoken</h3>
                <p>Precio: $59,99</p>
                <button>Comprar</button>
            </div>