<div class="historia">
            <h2>Fundador</h2>
    </main>


    <main class="lucho">
        <img src="images/nosotros/nosotros1.jpg" alt="Imagen">


        <div>
            <h3>Luciano Vallejos</h3>
            <p>
                Es un emprendedor argentino apasionado por los videojuegos. Desde pequeño, siempre fue un amante
                de los juegos, y soñaba con crear su propia empresa para compartir su pasión con el mundo.
            </p>
        </div>
    </main>
    <main>
    <div class="nosotros-contenido">
        <h3>Nosotros</h3>
        <p>Somos una empresa dedicada a la venta de videojuegos y al servicio de computadoras. Nos apasionan los
            videojuegos y queremos compartir nuestra pasión con el mundo.
        </p>
        <p>
            Nuestra misión es ofrecer a nuestros clientes la mejor experiencia de juego posible. Nos esforzamos
            por ofrecer una amplia selección de juegos, precios competitivos y un servicio al cliente
            excepcional.
        </p>
        <p>
            Nuestro equipo está formado por personas apasionadas por los videojuegos y las computadoras. Estamos
            comprometidos a brindar a nuestros clientes la mejor experiencia posible.
        </p>
    </div>
    </div>
</div>