<main class="holder">
        <div class="homeimg">
            <img src="images/home/img01.jpg" alt="Pc">
        </div>

        <div class="columnas">
            <div class="Bienvenidos">
                <h2>¡Bienvenidos a Luchijax!</h2>
                <p>Somos una empresa de ventas y servicio de computadoras ubicada en Lanus, Buenos Aires. Nos
                    especializamos en la venta de Videojuegos, en la reparación y mantenimiento de computadoras.
                </p>

                <p> En TechnoLuchijax, nuestro objetivo es brindarle a nuestros clientes la mejor experiencia
                    posible. Ofrecemos una amplia selección de componentes de PC de alta calidad, así como servicios de
                    reparación y mantenimiento asequibles y confiables.</p>

                <p>Si está buscando una nueva computadora o necesita que su computadora actual sea reparada,
                    TechnoLuchijax es la opción perfecta para usted.</p>

                <p>Nuestro equipo de expertos está aquí para ayudarlo a encontrar los componentes de PC adecuados para
                    sus necesidades y a reparar su computadora de manera rápida y eficiente.</p>
                    <br>
                    <br>
                    <br>

                <div class="discord">
                    <a href="https://discord.com/servers">
                        <img src="images/home/discord.png" alt="logo2">
                    </a>
                </div>

            </div>
            <div class="redes">
                <h2>Redes Sociales</h2>
                <div class="redes1">
                    <h2>Escanea el codigo </h2>
                    <h2>QR para conocer nuestras redes</h2>
                    <img src="images/home/ig.png" alt="instagram">
                    <a href="https://biolink.website/Luchijax">
                    <img src="images/home/redes.png" alt="ig">
                    </a>
                    <h2>@Luchijax</h2>
                </div>
            </div>
            </div>
           

