<article class="historia" lang="es">
  <h1>Historia</h1>

  <section class="fundador">
    <h2>Fundador</h2>
    <img src="images/nosotros/nosotros1.jpg" alt="Foto de Luciano Vallejos">

    <p>
      Luciano Vallejos es un emprendedor argentino apasionado por los videojuegos. Desde pequeño, siempre fue un amante de los juegos, y soñaba con crear su propia empresa para compartir su pasión con el mundo.
    </p>
  </section>

  <section class="nosotros">
    <h2>Nosotros</h2>

    <p>
      Somos una empresa dedicada a la venta de videojuegos y al servicio de computadoras. Nos apasionan los videojuegos y queremos compartir nuestra pasión con el mundo. Nuestra misión es ofrecer a nuestros clientes la mejor experiencia de juego posible.
    </p>

    <ul>
      <li>Ofrecemos una amplia selección de juegos a precios competitivos.</li>
      <li>Contamos con un equipo de expertos en videojuegos y computadoras.</li>
      <li>Nos esforzamos por brindar a nuestros clientes un servicio al cliente excepcional.</li>
      <li>Estamos comprometidos a brindar a nuestros clientes la mejor experiencia posible.</li>
    </ul>

  </section>
</article>
