<div class="titulo">
  <h1>Servicios</h1>
  <br>
  <br>

  <div class="servicio">
    <img src="images/servicios/armado de pc.jpg" alt="Imagen de un PC armado">
    <div class="info">
      <h2>Armado de Computadoras</h2>
      <p>El servicio de armado de PC puede ser una buena opción para las personas que desean construir su propia computadora pero no tienen el tiempo o las habilidades necesarias para hacerlo por sí mismas. También puede ser una buena opción para las personas que desean una computadora personalizada que se ajuste a sus necesidades específicas.</p>
    </div>
  </div>

  <div class="servicio">
    <img src="images/servicios/cambio de partes.jpg" alt="Imagen de cambio de partes de PC">
    <div class="info">
      <h2>Cambio de partes</h2>
      <p>El cambio de partes de PC puede ser una buena opción para las personas que desean actualizar su computadora o que han experimentado una falla en una de sus partes. También puede ser una buena opción para las personas que desean personalizar su computadora agregando nuevas partes.</p>
    </div>
  </div>

  <div class="servicio">
    <img src="images/servicios/mantenimiento.jpeg" alt="Imagen de mantenimiento de PC">
    <div class="info">
      <h2>Mantenimiento</h2>
      <ul>
        <li>Limpieza</li>
        <li>Actualizaciones</li>
        <li>Optimizaciones</li>
        <li>Reparaciones</li>
      </ul>
    </div>
  </div>

  <div class="servicio">
    <img src="images/servicios/notebooks.jpg" alt="Imagen de notebook">
    <div class="info">
      <h2>Notebook/Netbook</h2>
      <p>El servicio de reparación de notebooks y netbooks puede incluir una amplia gama de tareas, que incluyen: Diagnóstico, Reparación, Limpieza y Actualización</p>
    </div>
  </div>
</div>
