<div class="titulov">
  <h2>Tráilers de videojuegos</h2>
  <br>
  <br>
  <div class="trailers">
    <ul>
      <li>
        <div class="gta">
          <img src="images/videos/gta.jpg" alt="Grand Theft Auto VI" width="200" height="150">
          <a href="https://www.youtube.com/watch?v=QdBZY2fkU-0">Grand Theft Auto VI</a>
          <p>Grand Theft Auto VI es un próximo videojuego que está desarrollado por Rockstar Games.
            Será la octava entrega principal de dicha serie.</p>
        </div>
      </li>
      <br>
      <br>
      <li>
        <div class="god">
          <img src="images/videos/god.jpg" alt="God of War Ragnarök" width="200" height="150">
          <a href="https://www.youtube.com/watch?v=kc_N5xpNM9E">God of War Ragnarök</a>
          <p>God of War Ragnarök es un videojuego de acción y aventuras en tercera persona
            desarrollado por Santa Monica Studio y publicado por Sony Interactive Entertainment. </p>
        </div>
      </li>
    </ul>
  </div>
</div>