 <div class="trailers">
                <h2>Tráilers de videojuegos</h2>
                <ul>
                    <li>
                        <a href="https://www.youtube.com/watch?v=QdBZY2fkU-0">
                            <img src="images/videos/gta.jpg" alt="Título del tráiler">
                            <h3>Grand Theft Auto VI</h3>
                            <h4>Grand Theft Auto VI es un próximo videojuego que está desarrollado por Rockstar Games.
                                Será
                                la octava entrega principal de dicha serie.</h4>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/watch?v=kc_N5xpNM9E">
                            <img src="images/videos/god.jpg" alt="Título del tráiler">
                            <h3>God of War Ragnarök</h3>
                            <h4>God of War Ragnarök es un videojuego de acción y aventuras en tercera persona
                                desarrollado
                                por Santa Monica Studio y publicado por Sony Interactive Entertainment.</h4>

                        </a>
                    </li>
                </ul>
            </div>