h1 {
    font-family: 'agbalumo', sans-serif;
    background-color: rgb(234, 149, 3);
    color: black;
    text-align: center;
}

img {
    border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    width: 400px;
    height: 400px;
}

p {
    font-family: 'Roboto', sans-serif;
    color: aqua;
    font-weight: bold;
    font-style: italic;
}

.destacados {
    color: rgb(234, 149, 3);
    font-size: 20px;
}

h2 {
     font-family: 'agbalumo', sans-serif;
    color: black;
}
h3{
    font-family: 'Roboto', sans-serif;
    color: black;
}


.destacados1 {
    column-count: 3;
    color: rgb(234, 149, 3);
    font-size: 20px;
}
.destacados2 {
    column-count: 3;
    color: rgb(234, 149, 3);
    font-size: 20px;

}

